[hls]

clock=3.3
flow_target=vivado
syn.file=lz4_compress_test.cpp
syn.file_cflags=lz4_compress_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/common/thirdParty/xxhash -I${XF_PROJ_ROOT}/common/libs/lz4 -I${XF_PROJ_ROOT}/common/libs/compress -I${XF_PROJ_ROOT}/L1/include/hw
syn.file=$XF_PROJ_ROOT/common/thirdParty/xxhash/xxhash.c
syn.file_cflags=$XF_PROJ_ROOT/common/thirdParty/xxhash/xxhash.c,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/common/thirdParty/xxhash -I${XF_PROJ_ROOT}/common/libs/lz4 -I${XF_PROJ_ROOT}/common/libs/compress -I${XF_PROJ_ROOT}/L1/include/hw
syn.top=hls_lz4CompressMM32bitSingleEngine
tb.file=lz4_compress_test.cpp
tb.file_cflags=lz4_compress_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/common/libs/lz4 -I${XF_PROJ_ROOT}/common/libs/compress -I${XF_PROJ_ROOT}/common/thirdParty/xxhash -DPARALLEL_BLOCK=1


cosim.disable_dependency_check=true
csim.argv=${XF_PROJ_ROOT}/L1/tests/lz4_compress_mm32bit_single_engine/sample.txt ${XF_PROJ_ROOT}/L1/tests/lz4_compress_mm32bit_single_engine/sample.txt.lz4

cosim.argv=${XF_PROJ_ROOT}/L1/tests/lz4_compress_mm32bit_single_engine/sample.txt ${XF_PROJ_ROOT}/L1/tests/lz4_compress_mm32bit_single_engine/sample.txt.lz4



vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


