[hls]

clock=3.33
flow_target=vivado
syn.file=test.cpp
syn.file_cflags=test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I./
syn.top=dut
tb.file=test.cpp
tb.file_cflags=test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw
tb.file=1000.csv
tb.file_cflags=1000.csv,-I${XF_PROJ_ROOT}/L1/include/hw





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


