[hls]

clock=3.3333
flow_target=vivado
syn.file=${XF_PROJ_ROOT}/L1/tests/hw/gemm/uut_top.cpp
syn.file_cflags=${XF_PROJ_ROOT}/L1/tests/hw/gemm/uut_top.cpp,-std=c++11 -I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L1/include/hw/xf_blas/helpers/utils -I${XF_PROJ_ROOT}/L1/tests/hw/gemm -I${XF_PROJ_ROOT}/L1/tests/hw/gemm/tests/Dint8_t_m32_n32_k32_par8
syn.top=uut_top
tb.file=${XF_PROJ_ROOT}/L1/tests/hw/gemm/test.cpp
tb.file_cflags=${XF_PROJ_ROOT}/L1/tests/hw/gemm/test.cpp,-std=c++11 -I${XF_PROJ_ROOT}/L1/tests/sw/include -I${XF_PROJ_ROOT}/L1/include/hw/xf_blas/helpers/utils -I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L1/tests/hw/gemm -I${XF_PROJ_ROOT}/L1/tests/hw/gemm/tests/Dint8_t_m32_n32_k32_par8

csim.argv=${XF_PROJ_ROOT}/L1/tests/hw/gemm/tests/Dint8_t_m32_n32_k32_par8/data/

cosim.argv=${XF_PROJ_ROOT}/L1/tests/hw/gemm/tests/Dint8_t_m32_n32_k32_par8/data/



vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


