[hls]

clock=3.30
flow_target=vivado
syn.file=test_mm2s.cpp
syn.file_cflags=test_mm2s.cpp,-I${XF_PROJ_ROOT}/L1/include -DNSTREAM=5 -DPOINT_SIZE=4096 -DNITER=4
syn.top=dut
tb.file=test_mm2s.cpp
tb.file_cflags=test_mm2s.cpp,-I${XF_PROJ_ROOT}/L1/include -DNSTREAM=5 -DPOINT_SIZE=4096 -DNITER=4

vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog
