[hls]

clock=3.3
flow_target=vivado
syn.file=crc32_test.cpp
syn.file_cflags=crc32_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/../security/L1/include -I${XF_PROJ_ROOT}/common/thirdParty/zlib
syn.file=${XF_PROJ_ROOT}/common/thirdParty/zlib-1.2.7/crc32.c
syn.file_cflags=${XF_PROJ_ROOT}/common/thirdParty/zlib-1.2.7/crc32.c,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/../security/L1/include -I${XF_PROJ_ROOT}/common/thirdParty/zlib
syn.top=hls_crc32
tb.file=crc32_test.cpp
tb.file_cflags=crc32_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/../security/L1/include

syn.compile.pragma_strict_mode=1
cosim.disable_dependency_check=true

csim.argv=${XF_PROJ_ROOT}/L1/tests/crc32/sample.txt

cosim.argv=${XF_PROJ_ROOT}/L1/tests/crc32/sample.txt



vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


