[hls]

clock=4
flow_target=vivado
syn.file=direct_aggr_test.cpp
syn.file_cflags=direct_aggr_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw
syn.top=hls_db_direct_aggr
tb.file=direct_aggr_test.cpp
tb.file_cflags=direct_aggr_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


