[hls]

clock=10
set_clock_uncertainty=1.25
flow_target=vivado
syn.file=${XF_PROJ_ROOT}/L1/tests/IP_PARK_DIRECT/src/park_direct.cpp
syn.file_cflags=${XF_PROJ_ROOT}/L1/tests/IP_PARK_DIRECT/src/park_direct.cpp,-I${XF_PROJ_ROOT}/L1/include/hw/apc -I${XF_PROJ_ROOT}/L1/tests/IP_PARK_DIRECT/src
syn.top= Park_Direct_Inst
tb.file=${XF_PROJ_ROOT}/L1/tests/IP_PARK_DIRECT/src/park_direct_main.cpp
tb.file_cflags=${XF_PROJ_ROOT}/L1/tests/IP_PARK_DIRECT/src/park_direct_main.cpp,-I${XF_PROJ_ROOT}/L1/include/hw/apc -I${XF_PROJ_ROOT}/L1/tests/IP_PARK_DIRECT/src





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


