[hls]

clock=2.5
flow_target=vivado
syn.file=kernel.cpp
syn.file_cflags=kernel.cpp,-I${XF_PROJ_ROOT}/L1/include/hw
syn.top=Test
tb.file=host.cpp
tb.file_cflags=host.cpp,-I${XF_PROJ_ROOT}/L1/include/hw





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


