[hls]

clock=2.5
flow_target=vivado
syn.file=aggregate_test.cpp
syn.file_cflags=aggregate_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw
syn.top=hls_db_aggregate_function
tb.file=aggregate_test.cpp
tb.file_cflags=aggregate_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


