[hls]

clock=300MHz
flow_target=vivado
syn.file=${XF_PROJ_ROOT}/L1/tests/svd/kernel/kernel_svd_0.cpp
syn.file_cflags=${XF_PROJ_ROOT}/L1/tests/svd/kernel/kernel_svd_0.cpp,-DMATRIX_ROWS=3 -DMATRIX_COLS=3 -DSEL_ARCH=0 -D_DATA_PATH=${XF_PROJ_ROOT}/L1/tests/svd/datas/ -I./ -I${XF_PROJ_ROOT}/L1/tests/svd/host/ -I${XF_PROJ_ROOT}/L1/tests/svd/kernel/ -I${XF_PROJ_ROOT}/L1/tests/svd -I${XF_PROJ_ROOT}/L1/tests/ -I${XF_PROJ_ROOT}/L1/include/ -I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L2/include -I${XF_PROJ_ROOT}/../utils/L1/include/
syn.top=kernel_svd_0
tb.file=${XF_PROJ_ROOT}/L1/tests/svd/host/test_svd.cpp
tb.file_cflags=${XF_PROJ_ROOT}/L1/tests/svd/host/test_svd.cpp,-DMATRIX_ROWS=3 -DMATRIX_COLS=3 -DSEL_ARCH=0 -D_DATA_PATH=${XF_PROJ_ROOT}/L1/tests/svd/datas/ -I./ -I${XF_PROJ_ROOT}/L1/tests/svd/host/ -I${XF_PROJ_ROOT}/L1/tests/svd/kernel/ -I${XF_PROJ_ROOT}/L1/tests/svd -I${XF_PROJ_ROOT}/L1/tests/ -I${XF_PROJ_ROOT}/L1/include/ -I${XF_PROJ_ROOT}/L1/include/hw -I ./host -I${XF_PROJ_ROOT}/../utils/L1/include/





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


