_x_*
build_dir*
emconfig.json
xclbin.run_summary
timeline_trace.csv
profile_summary.csv
reports
xrt.ini
*.swp
*.swo
*.wdb
*.wcfg
*.protoinst
sample_*.ini
jks.*
make_gen_*.ini
TestResults
*.prj
*_sw_emu
*_hw_emu
*_hw
.Xil
*log
bin_*
obj_*
hls
_x
Work
*.xo
*.a
*_output
*_summary
.run
*.xclbin
*.o
*.bak
*.xsa
host_ps_on_x86
*.img
*.sh
tmp_org
.vscode
__tmp_build
*.BIN
*.exe
*.bif
*.bin
sd_card
sim
cfg
*.vcd
.ipcache
.AIE_SIM_CMD_LINE_OPTIONS
ISS_RPC_SERVER_PORT
pmc_args.txt
qemu_args.txt
pl_sample_counts
database_test.json
out_abt_beamform.json
output_res.json
sol.db
Map_Report.csv
temp
pl_sample_count_*
