[hls]

clock=300MHz
flow_target=vivado
syn.file=bridge.cpp
syn.file_cflags=bridge.cpp,-DDPRAGMA -I${XF_PROJ_ROOT}/L1/include
syn.top=brownian_bridge_top
tb.file=main.cpp
tb.file_cflags=main.cpp,-I${XF_PROJ_ROOT}/L1/include -I${XF_PROJ_ROOT}/ext/quantlib





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


