[hls]

clock=3.3333
flow_target=vivado
syn.file=${XF_PROJ_ROOT}/L1/tests/hw/rtm3d/forward_hbc/forward.cpp
syn.file_cflags=${XF_PROJ_ROOT}/L1/tests/hw/rtm3d/forward_hbc/forward.cpp,-I${XF_PROJ_ROOT}/L1/tests/hw/rtm3d/forward_hbc/tests/ -I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L2/include/hw/rtm3d -I${XF_PROJ_ROOT}/../blas/L1/include/hw
syn.top=top
tb.file=${XF_PROJ_ROOT}/L1/tests/hw/rtm3d/forward_hbc/main.cpp
tb.file_cflags=${XF_PROJ_ROOT}/L1/tests/hw/rtm3d/forward_hbc/main.cpp,-std=c++14 -I${XF_PROJ_ROOT}/L1/tests/hw/rtm3d/forward_hbc/tests/ -I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/../blas/L1/include/hw -I${XF_PROJ_ROOT}/../blas/L1/tests/sw/include

csim.argv=${XF_PROJ_ROOT}/L1/tests/hw/rtm3d/forward_hbc/tests/data/

cosim.argv=${XF_PROJ_ROOT}/L1/tests/hw/rtm3d/forward_hbc/tests/data/



vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


