[hls]

clock=300MHz
flow_target=vivado
syn.file=join_dut.cpp
syn.file_cflags=join_dut.cpp,-I${XF_PROJ_ROOT}/L1/include/hw
syn.top=join_dut
tb.file=join_test.cpp
tb.file_cflags=join_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -std=c++14





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


