[hls]

clock=10
flow_target=vivado
syn.file=${XF_PROJ_ROOT}/L1/examples/1Dfloat_impulse/src/data_path.hpp
syn.file_cflags=${XF_PROJ_ROOT}/L1/examples/1Dfloat_impulse/src/data_path.hpp,-I${XF_PROJ_ROOT}/L1/include/hw/vitis_fft/float
syn.file=${XF_PROJ_ROOT}/L1/examples/1Dfloat_impulse/src/top_module.cpp
syn.file_cflags=${XF_PROJ_ROOT}/L1/examples/1Dfloat_impulse/src/top_module.cpp,-I${XF_PROJ_ROOT}/L1/include/hw/vitis_fft/float
syn.file=${XF_PROJ_ROOT}/L1/examples/1Dfloat_impulse/src/top_module.hpp
syn.file_cflags=${XF_PROJ_ROOT}/L1/examples/1Dfloat_impulse/src/top_module.hpp,-I${XF_PROJ_ROOT}/L1/include/hw/vitis_fft/float
syn.top=fft_top
tb.file=${XF_PROJ_ROOT}/L1/examples/1Dfloat_impulse/src/main.cpp
tb.file_cflags=${XF_PROJ_ROOT}/L1/examples/1Dfloat_impulse/src/main.cpp,-I${XF_PROJ_ROOT}/L1/include/hw/vitis_fft/float





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


