*.back
*.swp
*.bu
*prj*
*proj*
*.log
*~
dummy_*
settings.tcl
docs/_build
docs/html
docs/xml
docs/rst
docs/.stamp
L2/tests/aie/batch_results/*/batch*
L2/tests/aie/*/test_*
L2/tests/aie/*/Work*
L2/examples/*/Work*
*TestResults*
*__pycache__
*_generated_graph

L2/tests/aie/*/results/*