[hls]

clock=10
set_clock_uncertainty=1.25
flow_target=vivado
syn.file=${XF_PROJ_ROOT}/L1/tests/IP_DEMUXER/src/demuxer_pi.cpp
syn.file_cflags=${XF_PROJ_ROOT}/L1/tests/IP_DEMUXER/src/demuxer_pi.cpp,-I${XF_PROJ_ROOT}/L1/include/hw/apc -I${XF_PROJ_ROOT}/L1/tests/IP_DEMUXER/src
syn.top= demuxer_pi_inst
tb.file=${XF_PROJ_ROOT}/L1/tests/IP_DEMUXER/src/demuxer_pi_main.cpp
tb.file_cflags=${XF_PROJ_ROOT}/L1/tests/IP_DEMUXER/src/demuxer_pi_main.cpp,-I${XF_PROJ_ROOT}/L1/include/hw/apc -I${XF_PROJ_ROOT}/L1/tests/IP_DEMUXER/src





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


