[hls]

clock=300MHz
flow_target=vivado
syn.file=kernel/denseSimilarityKernel.cpp
syn.file_cflags=kernel/denseSimilarityKernel.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L1/tests/hw/dense_similarity_int/kernel
syn.top=denseSimilarityKernel
tb.file=host/test_similarity.cpp
tb.file_cflags=host/test_similarity.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L1/tests/hw/dense_similarity_int/kernel -I${XF_PROJ_ROOT}/L1/tests/hw/dense_similarity_int/host

csim.argv=-similarityType 1 -graphType 1 -dataType 0 -sourceID 3 -weight ${XF_PROJ_ROOT}/L1/tests/hw/dense_similarity_int/data/cosine_dense_weight.csr -golden ${XF_PROJ_ROOT}/L1/tests/hw/dense_similarity_int/data/cosine_dense.mtx

cosim.argv=-similarityType 1 -graphType 1 -dataType 0 -sourceID 3 -weight ${XF_PROJ_ROOT}/L1/tests/hw/dense_similarity_int/data/cosine_dense_weight.csr -golden ${XF_PROJ_ROOT}/L1/tests/hw/dense_similarity_int/data/cosine_dense.mtx



vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


