[hls]

clock=3.3
flow_target=vivado
syn.file=mm2sSimple_test.cpp
syn.file_cflags=mm2sSimple_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -DPARALLEL_BLOCK=8
syn.top=hls_mm2sSimple
tb.file=mm2sSimple_test.cpp
tb.file_cflags=mm2sSimple_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -DPARALLEL_BLOCK=8


syn.compile.pragma_strict_mode=1
cosim.disable_dependency_check=true

vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


