[hls]

clock=3.0
flow_target=vivado
syn.file=bloom_filter_test.cpp
syn.file_cflags=bloom_filter_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw
syn.top=syn_bloom_filter_bram
tb.file=bloom_filter_test.cpp
tb.file_cflags=bloom_filter_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw

csim.argv=3

cosim.argv=3



vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


