[hls]

clock=3.33
flow_target=vivado
syn.file=group_aggr_test.cpp
syn.file_cflags=group_aggr_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw
syn.top=hls_db_group_aggr_sum
tb.file=group_aggr_test.cpp
tb.file_cflags=group_aggr_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


