[hls]

clock=300MHz
flow_target=vivado
syn.file=${XF_PROJ_ROOT}/L1/tests/qrf/kernel/kernel_qrf_0.cpp
syn.file_cflags=${XF_PROJ_ROOT}/L1/tests/qrf/kernel/kernel_qrf_0.cpp,-DQRF_A_ROWS=3 -DQRF_A_COLS=3 -DQRF_TRANSPOSED_Q=0 -DSEL_ARCH=1 -D_DATA_PATH=${XF_PROJ_ROOT}/L1/tests/qrf/datas/ -I./ -I${XF_PROJ_ROOT}/L1/tests/qrf/host/ -I${XF_PROJ_ROOT}/L1/tests/qrf/kernel/ -I${XF_PROJ_ROOT}/L1/tests/qrf/ -I${XF_PROJ_ROOT}/L1/tests/ -I${XF_PROJ_ROOT}/L1/include/ -I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L2/include -I${XF_PROJ_ROOT}/../utils/L1/include/
syn.top=kernel_qrf_0
tb.file=${XF_PROJ_ROOT}/L1/tests/qrf/host/test_qrf.cpp
tb.file_cflags=${XF_PROJ_ROOT}/L1/tests/qrf/host/test_qrf.cpp,-DQRF_A_ROWS=3 -DQRF_A_COLS=3 -DQRF_TRANSPOSED_Q=0 -DSEL_ARCH=1 -D_DATA_PATH=${XF_PROJ_ROOT}/L1/tests/qrf/datas/ -I./ -I${XF_PROJ_ROOT}/L1/tests/qrf/host/ -I${XF_PROJ_ROOT}/L1/tests/qrf/kernel/ -I${XF_PROJ_ROOT}/L1/tests/qrf/ -I${XF_PROJ_ROOT}/L1/tests/ -I${XF_PROJ_ROOT}/L1/include/ -I${XF_PROJ_ROOT}/L1/include/hw -I ./host -I${XF_PROJ_ROOT}/../utils/L1/include/





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


