[hls]

clock=2.5
flow_target=vivado
syn.file=code.cpp
syn.file_cflags=code.cpp,-I${XF_PROJ_ROOT}/L1/include
syn.top=top_core
tb.file=tb.cpp
tb.file_cflags=tb.cpp,-I${XF_PROJ_ROOT}/L1/include





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


