[hls]

clock=3.3
flow_target=vivado
syn.file=upSizer_test.cpp
syn.file_cflags=upSizer_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw
syn.top=hls_streamUpsizer
tb.file=upSizer_test.cpp
tb.file_cflags=upSizer_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw


syn.compile.pragma_strict_mode=1


vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


