[hls]

clock=3.33
flow_target=vivado
syn.file=dut.cpp
syn.file_cflags=dut.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I./
syn.top=multinomialNB
tb.file=test.cpp
tb.file_cflags=test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


