[hls]

clock=3.33
flow_target=vivado
syn.file=kernel/topOrderTokenize.cpp
syn.file_cflags=kernel/topOrderTokenize.cpp,-I${XF_PROJ_ROOT}/L1/include -I${XF_PROJ_ROOT}/L1/tests/jxlEnc/order_tokenize/kernel
syn.top=top_order_tokenize
tb.file=host/test_orderTokenize.cpp
tb.file_cflags=host/test_orderTokenize.cpp,-I${XF_PROJ_ROOT}/L1/tests/jxlEnc/order_tokenize/kernel

csim.argv=-i ${XF_PROJ_ROOT}/L1/tests/jxlEnc/order_tokenize/data/orders.txt -g ${XF_PROJ_ROOT}/L1/tests/jxlEnc/order_tokenize/data/goldens.txt
csim.ldflags=-pthread -std=c++11

cosim.argv=-i ${XF_PROJ_ROOT}/L1/tests/jxlEnc/order_tokenize/data/orders.txt -g ${XF_PROJ_ROOT}/L1/tests/jxlEnc/order_tokenize/data/goldens.txt
cosim.ldflags=-pthread -std=c++11



vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


