[hls]

clock=3.33
flow_target=vivado
syn.file=${XF_PROJ_ROOT}/L1/examples/2Dfix_impulse/src/top_2d_fft_test.cpp
syn.file_cflags=${XF_PROJ_ROOT}/L1/examples/2Dfix_impulse/src/top_2d_fft_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw/vitis_2dfft/fixed/
syn.top=top_fft2d
tb.file=${XF_PROJ_ROOT}/L1/examples/2Dfix_impulse/src/main_2d_fft_test.cpp
tb.file_cflags=${XF_PROJ_ROOT}/L1/examples/2Dfix_impulse/src/main_2d_fft_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw/vitis_2dfft/fixed/
tb.file=${XF_PROJ_ROOT}/L1/examples/2Dfix_impulse/src/top_2d_fft_test.cpp
tb.file_cflags=${XF_PROJ_ROOT}/L1/examples/2Dfix_impulse/src/top_2d_fft_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw/vitis_2dfft/fixed/





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


