[hls]

clock=2.5
flow_target=vivado
syn.file=duplicate_col_test.cpp
syn.file_cflags=duplicate_col_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw
syn.top=xf_database_duplicate_col
tb.file=duplicate_col_test.cpp
tb.file_cflags=duplicate_col_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


