[hls]

clock=3.33
clock_uncertainty=1.05
flow_target=vivado
syn.file=kernel_poseidon.cpp
syn.file_cflags=kernel_poseidon.cpp,-I${XF_PROJ_ROOT}/L1/include -I${XF_PROJ_ROOT}/L1/tests/poseidon/ -I${XF_PROJ_ROOT}/L1/tests/poseidon/datas -I./
syn.top=kernel_poseidon
tb.file=main.cpp
tb.file_cflags=main.cpp,-I${XF_PROJ_ROOT}/L1/include -I${XF_PROJ_ROOT}/L1/tests/poseidon/ -I${XF_PROJ_ROOT}/L1/tests/poseidon/datas -I./
tb.file=input_vector.dat
tb.file_cflags=input_vector.dat,-I${XF_PROJ_ROOT}/L1/include -I${XF_PROJ_ROOT}/L1/tests/poseidon/ -I${XF_PROJ_ROOT}/L1/tests/poseidon/datas -I./
tb.file=golden_vector.dat
tb.file_cflags=golden_vector.dat,-I${XF_PROJ_ROOT}/L1/include -I${XF_PROJ_ROOT}/L1/tests/poseidon/ -I${XF_PROJ_ROOT}/L1/tests/poseidon/datas -I./
tb.file=round_consts.dat
tb.file_cflags=round_consts.dat,-I${XF_PROJ_ROOT}/L1/include -I${XF_PROJ_ROOT}/L1/tests/poseidon/ -I${XF_PROJ_ROOT}/L1/tests/poseidon/datas -I./
tb.file=mds_matrix.dat
tb.file_cflags=mds_matrix.dat,-I${XF_PROJ_ROOT}/L1/include -I${XF_PROJ_ROOT}/L1/tests/poseidon/ -I${XF_PROJ_ROOT}/L1/tests/poseidon/datas -I./





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


