[hls]

clock=300MHz
flow_target=vivado
syn.file=${XF_PROJ_ROOT}/L1/tests/gemv_cfloat/kernel/kernel_gemv_cfloat_0.cpp
syn.file_cflags=${XF_PROJ_ROOT}/L1/tests/gemv_cfloat/kernel/kernel_gemv_cfloat_0.cpp, -D_ROWSA=32 -D_COLSA=16 -D_COLSB=1 -D_DATA_PATH=${XF_PROJ_ROOT}/L1/tests/gemv_cfloat/datas/ -I./ -I./host/ -I./kernel/ -I${XF_PROJ_ROOT}/L1/tests/ -I${XF_PROJ_ROOT}/L1/include/ -I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L2/include -I${XF_PROJ_ROOT}/../utils/L1/include/
syn.top=kernel_gemv_cfloat_0
tb.file=${XF_PROJ_ROOT}/L1/tests/gemv_cfloat/host/test_gemv_cfloat.cpp
tb.file_cflags=${XF_PROJ_ROOT}/L1/tests/gemv_cfloat/host/test_gemv_cfloat.cpp, -D_ROWSA=32 -D_COLSA=16 -D_COLSB=1 -D_DATA_PATH=${XF_PROJ_ROOT}/L1/tests/gemv_cfloat/datas/ -I./ -I./host/ -I./kernel/ -I${XF_PROJ_ROOT}/L1/tests/ -I${XF_PROJ_ROOT}/L1/include/ -I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/../utils/L1/include/



vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


