[hls]

clock=3.3
flow_target=vivado
syn.file=src/main.cpp
syn.file_cflags=src/main.cpp,-I${XF_PROJ_ROOT}/L1/include/hw/vitis_fft/fixed  -I${XF_PROJ_ROOT}/L1/tests/common
syn.file=src/hls_ssr_fft_data_path.hpp
syn.file_cflags=src/hls_ssr_fft_data_path.hpp,-I${XF_PROJ_ROOT}/L1/include/hw/vitis_fft/fixed  -I${XF_PROJ_ROOT}/L1/tests/common
syn.file=src/DEBUG_CONSTANTS.hpp
syn.file_cflags=src/DEBUG_CONSTANTS.hpp,-I${XF_PROJ_ROOT}/L1/include/hw/vitis_fft/fixed  -I${XF_PROJ_ROOT}/L1/tests/common
syn.top=fft_top
tb.file=src/main.cpp
tb.file_cflags=src/main.cpp,-I${XF_PROJ_ROOT}/L1/include/hw/vitis_fft/fixed  -I${XF_PROJ_ROOT}/L1/tests/common
tb.file=${XF_PROJ_ROOT}/L1/tests/hw/1dfft/fixed/commonFix/verif/fftStimulusIn_L4096.verif
tb.file_cflags=${XF_PROJ_ROOT}/L1/tests/hw/1dfft/fixed/commonFix/verif/fftStimulusIn_L4096.verif,-I${XF_PROJ_ROOT}/L1/include/hw/vitis_fft/fixed  -I${XF_PROJ_ROOT}/L1/tests/common
tb.file=${XF_PROJ_ROOT}/L1/tests/hw/1dfft/fixed/commonFix/verif/fftGoldenOut_L4096.verif
tb.file_cflags=${XF_PROJ_ROOT}/L1/tests/hw/1dfft/fixed/commonFix/verif/fftGoldenOut_L4096.verif,-I${XF_PROJ_ROOT}/L1/include/hw/vitis_fft/fixed  -I${XF_PROJ_ROOT}/L1/tests/common





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


