[hls]

clock=4
clock_uncertainty=0.42
flow_target=vivado
syn.file=test.cpp
syn.file_cflags=test.cpp,-I${XF_PROJ_ROOT}/L1/include
syn.top=rsa_test
tb.file=main.cpp
tb.file_cflags=main.cpp,-I${XF_PROJ_ROOT}/L1/include





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


