[hls]

clock=2.5
flow_target=vivado
syn.file=test_murmur3_hive.cpp
syn.file_cflags=test_murmur3_hive.cpp,-I${XF_PROJ_ROOT}/L1/include/hw
syn.top=murmur3_hive_dut
tb.file=test_murmur3_hive.cpp testset
tb.file_cflags=test_murmur3_hive.cpp testset,-I${XF_PROJ_ROOT}/L1/include/hw





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


