[hls]

clock=3.3
flow_target=vivado
syn.file=$XF_PROJ_ROOT/common/libs/logger/logger.cpp
syn.file_cflags=$XF_PROJ_ROOT/common/libs/logger/logger.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L2/include -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/common/libs/logger -DSTATIC_MODE
syn.file=$XF_PROJ_ROOT/common/libs/cmdparser/cmdlineparser.cpp
syn.file_cflags=$XF_PROJ_ROOT/common/libs/cmdparser/cmdlineparser.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L2/include -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/common/libs/logger -DSTATIC_MODE
syn.file=gzip_compress_test.cpp
syn.file_cflags=gzip_compress_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L2/include -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/common/libs/logger -I${XF_PROJ_ROOT}/../security/L1/include -DGZIP_STREAM  -DSTATIC_MODE
syn.top=gzipcMulticoreStreaming
tb.file=$XF_PROJ_ROOT/common/libs/logger/logger.cpp
tb.file_cflags=$XF_PROJ_ROOT/common/libs/logger/logger.cpp,-I${XF_PROJ_ROOT}/common/libs/logger -DSTATIC_MODE
tb.file=$XF_PROJ_ROOT/common/libs/cmdparser/cmdlineparser.cpp
tb.file_cflags=$XF_PROJ_ROOT/common/libs/cmdparser/cmdlineparser.cpp,-I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/common/libs/logger -DSTATIC_MODE
tb.file=gzip_compress_test.cpp
tb.file_cflags=gzip_compress_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L2/include -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/../security/L1/include -DGZIP_STREAM -DSTATIC_MODE

syn.dataflow.start_fifo_depth=32
syn.dataflow.scalar_fifo_depth=32
syn.dataflow.task_level_fifo_depth=32
csim.argv=${XF_PROJ_ROOT}/L1/tests/gzipc_static_16KB/sample.txt ${XF_PROJ_ROOT}/L1/tests/gzipc_static_16KB/sample.txt.gz
cosim.disable_dependency_check=true
cosim.argv=${XF_PROJ_ROOT}/L1/tests/gzipc_static_16KB/sample.txt ${XF_PROJ_ROOT}/L1/tests/gzipc_static_16KB/samlple.txt.gz



vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


