[hls]

clock=3.3
flow_target=vivado
syn.file=lz4_compress_test.cpp
syn.file_cflags=lz4_compress_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw
syn.top=lz4CompressEngineRun
tb.file=lz4_compress_test.cpp
tb.file_cflags=lz4_compress_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw

syn.compile.pragma_strict_mode=1
cosim.disable_dependency_check=true
csim.argv=${XF_PROJ_ROOT}/L1/tests/lz4_compress/sample.txt ${XF_PROJ_ROOT}/L1/tests/lz4_compress/sample.txt.encoded

cosim.argv=${XF_PROJ_ROOT}/L1/tests/lz4_compress/sample.txt ${XF_PROJ_ROOT}/L1/tests/lz4_compress/sample.txt.encoded



vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


