[hls]

clock=300MHz
flow_target=vivado
syn.file=hjkernel.cpp
syn.file_cflags=hjkernel.cpp,-I${XF_PROJ_ROOT}/L1/include/hw
syn.top=hjkernel
tb.file=hjtest.cpp
tb.file_cflags=hjtest.cpp,-I${XF_PROJ_ROOT}/L1/include/hw





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


