[hls]

clock=3.3
flow_target=vivado
syn.file=${XF_PROJ_ROOT}/L1/examples/channelcombine/xf_channel_combine_accel.cpp
syn.file_cflags=${XF_PROJ_ROOT}/L1/examples/channelcombine/xf_channel_combine_accel.cpp, -I ${XF_PROJ_ROOT}/L1/tests/channelcombine/channelcombine_NPPC8_8UC1_8UC4_FOUR_INPUT -I${XF_PROJ_ROOT}/L1/include -I ./ -D__SDSVHLS__ -std=c++0x
syn.file_csimflags=${XF_PROJ_ROOT}/L1/examples/channelcombine/xf_channel_combine_accel.cpp, -I ${XF_PROJ_ROOT}/L1/tests/channelcombine/channelcombine_NPPC8_8UC1_8UC4_FOUR_INPUT -I${XF_PROJ_ROOT}/L1/include -I ./ -D__SDSVHLS__ -std=c++0x
syn.top=channel_combine_accel
tb.file=${XF_PROJ_ROOT}/L1/examples/channelcombine/xf_channel_combine_tb.cpp
tb.file_cflags=${XF_PROJ_ROOT}/L1/examples/channelcombine/xf_channel_combine_tb.cpp, -I ${XF_PROJ_ROOT}/L1/tests/channelcombine/channelcombine_NPPC8_8UC1_8UC4_FOUR_INPUT -I${OPENCV_INCLUDE} -I${XF_PROJ_ROOT}/L1/include -I ./ -D__SDSVHLS__ -std=c++0x
tb.file_csimflags=${XF_PROJ_ROOT}/L1/examples/channelcombine/xf_channel_combine_tb.cpp, -I ${XF_PROJ_ROOT}/L1/tests/channelcombine/channelcombine_NPPC8_8UC1_8UC4_FOUR_INPUT -I${XF_PROJ_ROOT}/L1/include -I ./ -D__SDSVHLS__ -std=c++0x

csim.argv=  ${XF_PROJ_ROOT}/data/128x128_1.png  ${XF_PROJ_ROOT}/data/128x128_2.png  ${XF_PROJ_ROOT}/data/128x128_3.png  ${XF_PROJ_ROOT}/data/128x128_4.png
csim.ldflags=-L ${OPENCV_LIB} -lopencv_imgcodecs -lopencv_imgproc -lopencv_core -lopencv_highgui -lopencv_flann -lopencv_features2d

cosim.argv=  ${XF_PROJ_ROOT}/data/128x128_1.png  ${XF_PROJ_ROOT}/data/128x128_2.png  ${XF_PROJ_ROOT}/data/128x128_3.png  ${XF_PROJ_ROOT}/data/128x128_4.png
cosim.ldflags=-L ${OPENCV_LIB} -lopencv_imgcodecs -lopencv_imgproc -lopencv_core -lopencv_highgui -lopencv_flann -lopencv_features2d



vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog
sim.ldflags=-L ${OPENCV_LIB} -lopencv_imgcodecs -lopencv_imgproc -lopencv_core -lopencv_highgui -lopencv_flann -lopencv_features2d


