[hls]

clock=300MHz
flow_target=vivado
syn.file=dut.cpp
syn.file_cflags=dut.cpp,-I${XF_PROJ_ROOT}/L1/include/xf_fintech -I${XF_PROJ_ROOT}/../solver/L2/include
syn.top=dut
tb.file=main.cpp
tb.file_cflags=main.cpp,-I${XF_PROJ_ROOT}/L1/include/xf_fintech





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


