[hls]

clock=3.3
flow_target=vivado
syn.file=$XF_PROJ_ROOT/common/libs/logger/logger.cpp
syn.file_cflags=$XF_PROJ_ROOT/common/libs/logger/logger.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -DMULTIPLE_BYTES=8 -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/common/libs/logger -I${XF_PROJ_ROOT}/../security/L1/include
syn.file=$XF_PROJ_ROOT/common/libs/cmdparser/cmdlineparser.cpp
syn.file_cflags=$XF_PROJ_ROOT/common/libs/cmdparser/cmdlineparser.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -DMULTIPLE_BYTES=8 -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/common/libs/logger -I${XF_PROJ_ROOT}/../security/L1/include
syn.file=gzip_decompress_test.cpp
syn.file_cflags=gzip_decompress_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -DMULTIPLE_BYTES=8 -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/common/libs/logger -I${XF_PROJ_ROOT}/../security/L1/include
syn.top=gzipMultiByteDecompressEngineRun
tb.file=$XF_PROJ_ROOT/common/libs/logger/logger.cpp
tb.file_cflags=$XF_PROJ_ROOT/common/libs/logger/logger.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -DMULTIPLE_BYTES=8 -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/common/libs/logger -I${XF_PROJ_ROOT}/../security/L1/include
tb.file=$XF_PROJ_ROOT/common/libs/cmdparser/cmdlineparser.cpp
tb.file_cflags=$XF_PROJ_ROOT/common/libs/cmdparser/cmdlineparser.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -DMULTIPLE_BYTES=8 -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/common/libs/logger -I${XF_PROJ_ROOT}/../security/L1/include
tb.file=gzip_decompress_test.cpp
tb.file_cflags=gzip_decompress_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -DMULTIPLE_BYTES=8 -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/common/libs/logger -I${XF_PROJ_ROOT}/../security/L1/include

syn.compile.pragma_strict_mode=1
cosim.disable_dependency_check=true
csim.argv=-l ${XF_PROJ_ROOT}/L1/tests/gzip_decompress_lowLatency/test.list -p ${XF_PROJ_ROOT}/L1/tests/gzip_decompress_lowLatency

cosim.argv=-f ${XF_PROJ_ROOT}/L1/tests/gzip_decompress_lowLatency/sample.txt.gz -o ${XF_PROJ_ROOT}/L1/tests/gzip_decompress_lowLatency/sample.txt



vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


