[hls]

clock=300MHz
flow_target=vivado
syn.file=ajkernel.cpp
syn.file_cflags=ajkernel.cpp,-I${XF_PROJ_ROOT}/L1/include/hw
syn.top=ajkernel
tb.file=ajtest.cpp
tb.file_cflags=ajtest.cpp,-I${XF_PROJ_ROOT}/L1/include/hw





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


