[hls]

clock=300MHz
flow_target=vivado
syn.file=./kernel/kernel_pseudosqrt_0.cpp
syn.file_cflags=./kernel/kernel_pseudosqrt_0.cpp,-D _USE_STRM_ -D _HLS_TEST_ -D KERNEL0 -I./host/ -I./kernel/ -I${XF_PROJ_ROOT}/L1/include/ -I${XF_PROJ_ROOT}/../utils/L1/include/ -I${XF_PROJ_ROOT}/L2/include/
syn.top=kernel_pseudosqrt_0
tb.file=./host/test_pseudosqrt.cpp
tb.file_cflags=./host/test_pseudosqrt.cpp,-D _USE_STRM_ -D _HLS_TEST_ -I./host/ -I./kernel/ -I${XF_PROJ_ROOT}/L1/include/ -I ./host/ -I${XF_PROJ_ROOT}/../utils/L1/include/





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


