[hls]

clock=4
flow_target=vivado
syn.file=hash_aggr_kernel.cpp
syn.file_cflags=hash_aggr_kernel.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/../utils/L1/include
syn.top=hash_aggr_kernel
tb.file=test_aggr.cpp
tb.file_cflags=test_aggr.cpp,-I${XF_PROJ_ROOT}/L1/include/hw





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


