[hls]

clock=3.33
clock_uncertainty=1.05
flow_target=vivado
syn.file=tb.cpp
syn.file_cflags=tb.cpp,-I${XF_PROJ_ROOT}/L1/include
syn.top=vdfEvaluate
tb.file=tb.cpp
tb.file_cflags=tb.cpp,-I${XF_PROJ_ROOT}/L1/include





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


