[hls]

clock=3.30
flow_target=vivado
syn.file=cache.cpp
syn.file_cflags=cache.cpp,-I${XF_PROJ_ROOT}/L1/include
syn.top=syn_top
tb.file=cache_tb.cpp
tb.file_cflags=cache_tb.cpp,-I${XF_PROJ_ROOT}/L1/include
tb.file=cache_tb.hpp
tb.file_cflags=cache_tb.hpp,-I${XF_PROJ_ROOT}/L1/include

csim.argv=1

cosim.argv=0



vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


