[hls]

clock=3.3333
flow_target=vivado
syn.file=pentadiag_top.cpp
syn.file_cflags=pentadiag_top.cpp,-I${XF_PROJ_ROOT}/L1/include/xf_fintech -std=c++11
syn.top=pentadiag_top
tb.file=main.cpp
tb.file_cflags=main.cpp,-I${XF_PROJ_ROOT}/L1/include/xf_fintech





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


