[hls]

clock=300MHz
flow_target=vivado
syn.file=filter_dut.cpp
syn.file_cflags=filter_dut.cpp,-I${XF_PROJ_ROOT}/L1/include/hw
syn.top=filter_dut
tb.file=filter_test.cpp
tb.file_cflags=filter_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


