[hls]

clock=3.3
flow_target=vivado
syn.file=$XF_PROJ_ROOT/common/libs/logger/logger.cpp
syn.file_cflags=$XF_PROJ_ROOT/common/libs/logger/logger.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L2/include -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/common/libs/logger -DSTATIC_MODE
syn.file=$XF_PROJ_ROOT/common/libs/cmdparser/cmdlineparser.cpp
syn.file_cflags=$XF_PROJ_ROOT/common/libs/cmdparser/cmdlineparser.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L2/include -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/common/libs/logger -I${XF_PROJ_ROOT}/../security/L1/include -DGZIP_STREAM -DSTATIC_MODE
syn.file=zlib_compress_test.cpp
syn.file_cflags=zlib_compress_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L2/include -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/common/libs/logger -I${XF_PROJ_ROOT}/../security/L1/include -DGZIP_STREAM -DSTATIC_MODE
syn.top=zlibcMulticoreStreaming
tb.file=$XF_PROJ_ROOT/common/libs/logger/logger.cpp
tb.file_cflags=$XF_PROJ_ROOT/common/libs/logger/logger.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L2/include -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/../security/L1/include -DSTATIC_MODE
tb.file=$XF_PROJ_ROOT/common/libs/cmdparser/cmdlineparser.cpp
tb.file_cflags=$XF_PROJ_ROOT/common/libs/cmdparser/cmdlineparser.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L2/include -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/common/libs/logger -I${XF_PROJ_ROOT}/../security/L1/include -DSTATIC_MODE 
tb.file=zlib_compress_test.cpp
tb.file_cflags=zlib_compress_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L2/include -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/../security/L1/include -DGZIP_STREAM -DSTATIC_MODE

syn.dataflow.start_fifo_depth=32
syn.dataflow.scalar_fifo_depth=32
syn.dataflow.task_level_fifo_depth=32
cosim.disable_dependency_check=true
csim.argv=${XF_PROJ_ROOT}/L1/tests/zlibc_static/sample.txt ${XF_PROJ_ROOT}/L1/tests/zlibc_static/sample.txt.zlib

cosim.argv=${XF_PROJ_ROOT}/L1/tests/zlibc_static/sample.txt ${XF_PROJ_ROOT}/L1/tests/zlibc_static/samlple.txt.zlib



vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


