[hls]

clock=3.3
flow_target=vivado
syn.file=$XF_PROJ_ROOT/common/libs/logger/logger.cpp
syn.file_cflags=$XF_PROJ_ROOT/common/libs/logger/logger.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -DMULTIPLE_BYTES=4 -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/common/libs/logger -I${XF_PROJ_ROOT}/../security/L1/include -DGZIP_DECOMPRESS_CHECKSUM
syn.file=$XF_PROJ_ROOT/common/libs/cmdparser/cmdlineparser.cpp
syn.file_cflags=$XF_PROJ_ROOT/common/libs/cmdparser/cmdlineparser.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -DMULTIPLE_BYTES=4 -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/common/libs/logger -I${XF_PROJ_ROOT}/../security/L1/include -DGZIP_DECOMPRESS_CHECKSUM
syn.file=zlib_decompress_test.cpp
syn.file_cflags=zlib_decompress_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -DMULTIPLE_BYTES=4 -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/common/libs/logger -I${XF_PROJ_ROOT}/../security/L1/include -DGZIP_DECOMPRESS_CHECKSUM
syn.top=zlibMultiByteDecompressEngineRun
tb.file=$XF_PROJ_ROOT/common/libs/logger/logger.cpp
tb.file_cflags=$XF_PROJ_ROOT/common/libs/logger/logger.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -DMULTIPLE_BYTES=4 -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/common/libs/logger -I${XF_PROJ_ROOT}/../security/L1/include -DGZIP_DECOMPRESS_CHECKSUM
tb.file=$XF_PROJ_ROOT/common/libs/cmdparser/cmdlineparser.cpp
tb.file_cflags=$XF_PROJ_ROOT/common/libs/cmdparser/cmdlineparser.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -DMULTIPLE_BYTES=4 -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/common/libs/logger -I${XF_PROJ_ROOT}/../security/L1/include -DGZIP_DECOMPRESS_CHECKSUM
tb.file=zlib_decompress_test.cpp
tb.file_cflags=zlib_decompress_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -DMULTIPLE_BYTES=4 -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/common/libs/logger -I${XF_PROJ_ROOT}/../security/L1/include -DGZIP_DECOMPRESS_CHECKSUM

csim.argv=-l ${XF_PROJ_ROOT}/L1/tests/zlib_decompress_checksum/test.list -p ${XF_PROJ_ROOT}/L1/tests/zlib_decompress_checksum

cosim.argv=-f ${XF_PROJ_ROOT}/L1/tests/zlib_decompress_checksum/sample.txt.zlib -o ${XF_PROJ_ROOT}/L1/tests/zlib_decompress_checksum/sample.txt
cosim.disable_dependency_check=true



vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


