[hls]

clock=3.33
flow_target=vivado
syn.file=dut.cpp
syn.file_cflags=dut.cpp,-I${XF_PROJ_ROOT}/L1/include/xf_fintech
syn.top=dut
tb.file=tb.cpp
tb.file_cflags=tb.cpp,-I${XF_PROJ_ROOT}/L1/include/xf_fintech





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


