[hls]

clock=3.33
flow_target=vivado
syn.file=test.cpp
syn.file_cflags=test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I./
syn.top=json_dut
tb.file=test.cpp
tb.file_cflags=test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw
tb.file=schema-0.txt
tb.file_cflags=schema-0.txt,-I${XF_PROJ_ROOT}/L1/include/hw
tb.file=schema-1.txt
tb.file_cflags=schema-1.txt,-I${XF_PROJ_ROOT}/L1/include/hw
tb.file=schema-2.txt
tb.file_cflags=schema-2.txt,-I${XF_PROJ_ROOT}/L1/include/hw
tb.file=schema-3.txt
tb.file_cflags=schema-3.txt,-I${XF_PROJ_ROOT}/L1/include/hw





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


