[hls]

clock=3.33
flow_target=vivado
syn.file=test.cpp
syn.file_cflags=test.cpp,-I${XF_PROJ_ROOT}/L1/include/sw -I${XF_PROJ_ROOT}/L1/include/hw -I${CUR_DIR}/re_compile/lib/include
syn.top=dut
tb.file=test.cpp
tb.file_cflags=test.cpp,-I${XF_PROJ_ROOT}/L1/include/sw -I${XF_PROJ_ROOT}/L1/include/hw -I${CUR_DIR}/re_compile/lib/include

csim.ldflags=-Wl,-rpath,${CUR_DIR}/re_compile -L${CUR_DIR}/re_compile -lxfcompile -Wl,-rpath,${CUR_DIR}/re_compile/lib/lib -L${CUR_DIR}/re_compile/lib/lib -lonig

cosim.ldflags=-Wl,-rpath,${CUR_DIR}/re_compile -L${CUR_DIR}/re_compile -lxfcompile -Wl,-rpath,${CUR_DIR}/re_compile/lib/lib -L${CUR_DIR}/re_compile/lib/lib -lonig



vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


