[hls]

clock=300MHz
flow_target=vivado
syn.file=mjkernel.cpp
syn.file_cflags=mjkernel.cpp,-I${XF_PROJ_ROOT}/L1/include/hw
syn.top=mjkernel
tb.file=mjtest.cpp
tb.file_cflags=mjtest.cpp,-I${XF_PROJ_ROOT}/L1/include/hw





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


