[hls]

clock=7.5
flow_target=vivado
syn.file=${XF_PROJ_ROOT}/L1/examples/preprocess_multidatatype/xf_preprocess_accel.cpp
syn.file_cflags=${XF_PROJ_ROOT}/L1/examples/preprocess_multidatatype/xf_preprocess_accel.cpp, -I ${XF_PROJ_ROOT}/L1/tests/preprocess_multidatatype/preprocess_multidatatype_BF16 -I${XF_PROJ_ROOT}/L1/examples/preprocess_multidatatype/config -I${XF_PROJ_ROOT}/L1/include -I ./ -D__SDSVHLS__ -std=c++14
syn.file_csimflags=${XF_PROJ_ROOT}/L1/examples/preprocess_multidatatype/xf_preprocess_accel.cpp, -I ${XF_PROJ_ROOT}/L1/tests/preprocess_multidatatype/preprocess_multidatatype_BF16 -I${XF_PROJ_ROOT}/L1/examples/preprocess_multidatatype/config -I${XF_PROJ_ROOT}/L1/include -I ./ -D__SDSVHLS__ -std=c++14
syn.top=preprocess_accel
tb.file=${XF_PROJ_ROOT}/L1/examples/preprocess_multidatatype/xf_preprocess_tb.cpp
tb.file_cflags=${XF_PROJ_ROOT}/L1/examples/preprocess_multidatatype/xf_preprocess_tb.cpp, -I ${XF_PROJ_ROOT}/L1/tests/preprocess_multidatatype/preprocess_multidatatype_BF16 -I${XF_PROJ_ROOT}/L1/examples/preprocess_multidatatype/config -I${OPENCV_INCLUDE} -I${XF_PROJ_ROOT}/L1/examples/preprocess_multidatatype -I${XF_PROJ_ROOT}/L1/include -I ./ -D__SDSVHLS__ -std=c++14
tb.file_csimflags=${XF_PROJ_ROOT}/L1/examples/preprocess_multidatatype/xf_preprocess_tb.cpp, -I ${XF_PROJ_ROOT}/L1/tests/preprocess_multidatatype/preprocess_multidatatype_BF16 -I${XF_PROJ_ROOT}/L1/examples/preprocess_multidatatype/config -I${XF_PROJ_ROOT}/L1/include -I ./ -D__SDSVHLS__ -std=c++14

csim.argv=${XF_PROJ_ROOT}/data/128x128.png
csim.ldflags=-L ${OPENCV_LIB} -lopencv_imgcodecs -lopencv_imgproc -lopencv_core -lopencv_highgui -lopencv_flann -lopencv_features2d

cosim.argv=${XF_PROJ_ROOT}/data/128x128.png
cosim.ldflags=-L ${OPENCV_LIB} -lopencv_imgcodecs -lopencv_imgproc -lopencv_core -lopencv_highgui -lopencv_flann -lopencv_features2d

vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog
sim.ldflags=-L ${OPENCV_LIB} -lopencv_imgcodecs -lopencv_imgproc -lopencv_core -lopencv_highgui -lopencv_flann -lopencv_features2d
