[hls]

clock=3.3
flow_target=vivado
syn.file=snappy_decompress_test.cpp
syn.file_cflags=snappy_decompress_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw
syn.top=snappyDecompressEngineRun
tb.file=snappy_decompress_test.cpp
tb.file_cflags=snappy_decompress_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw

syn.compile.pragma_strict_mode=1
cosim.disable_dependency_check=true
csim.argv=${XF_PROJ_ROOT}/L1/tests/snappy_decompress/sample.txt.snappy ${XF_PROJ_ROOT}/L1/tests/snappy_decompress/sample.txt

cosim.argv=${XF_PROJ_ROOT}/L1/tests/snappy_decompress/sample.txt.snappy ${XF_PROJ_ROOT}/L1/tests/snappy_decompress/sample.txt



vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


