[hls]

clock=4
clock_uncertainty=0.42
flow_target=vivado
syn.file=test.cpp
syn.file_cflags=test.cpp,-I${XF_PROJ_ROOT}/L1/include
syn.top=test
tb.file=test.cpp
tb.file_cflags=test.cpp,-I${XF_PROJ_ROOT}/L1/include

csim.ldflags=-z stack-size=16777216

cosim.ldflags=-z stack-size=16777216



vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


