[hls]

clock=3.3333
flow_target=vivado
syn.file=${XF_PROJ_ROOT}/L1/tests/hw/rtm2d/backward/tests/data_h128_w128_t10_pe2/../../backward.cpp
syn.file_cflags=${XF_PROJ_ROOT}/L1/tests/hw/rtm2d/backward/tests/data_h128_w128_t10_pe2/../../backward.cpp,-I${XF_PROJ_ROOT}/L1/tests/hw/rtm2d/backward/tests/data_h128_w128_t10_pe2 -I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/../blas/L1/include/hw
syn.top=top
tb.file=${XF_PROJ_ROOT}/L1/tests/hw/rtm2d/backward/tests/data_h128_w128_t10_pe2/../../main.cpp
tb.file_cflags=${XF_PROJ_ROOT}/L1/tests/hw/rtm2d/backward/tests/data_h128_w128_t10_pe2/../../main.cpp,-std=c++14 -I${XF_PROJ_ROOT}/L1/tests/hw/rtm2d/backward/tests/data_h128_w128_t10_pe2 -I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/../blas/L1/include/hw -I${XF_PROJ_ROOT}/../blas/L1/tests/sw/include

csim.argv=${XF_PROJ_ROOT}/L1/tests/hw/rtm2d/backward/tests/data_h128_w128_t10_pe2/data/

cosim.argv=${XF_PROJ_ROOT}/L1/tests/hw/rtm2d/backward/tests/data_h128_w128_t10_pe2/data/



vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


