[hls]

clock=300MHz
flow_target=vivado
syn.file=dut.cpp
syn.file_cflags=dut.cpp,-DDPRAGMA -I${XF_PROJ_ROOT}/L1/include
syn.top=dut
tb.file=main.cpp
tb.file_cflags=main.cpp,-I${XF_PROJ_ROOT}/L1/include





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


