[hls]

clock=10
set_clock_uncertainty=1.25
flow_target=vivado
syn.file=${XF_PROJ_ROOT}/L1/tests/tests_fp32/park_inverse_fp32_tb/src/park_inverse_fp32_top.cpp
syn.file_cflags=${XF_PROJ_ROOT}/L1/tests/tests_fp32/park_inverse_fp32_tb/src/park_inverse_fp32_top.cpp,-I${XF_PROJ_ROOT}/L1/include/models_fp -I${XF_PROJ_ROOT}/L1/tests/tests_fp32/park_inverse_fp32_tb/src
syn.top=Park_Inverse_fp32_top
tb.file=${XF_PROJ_ROOT}/L1/tests/tests_fp32/park_inverse_fp32_tb/tb/test_park_inverse_fp32.cpp
tb.file_cflags=${XF_PROJ_ROOT}/L1/tests/tests_fp32/park_inverse_fp32_tb/tb/test_park_inverse_fp32.cpp,-I${XF_PROJ_ROOT}/L1/include/models_fp -I${XF_PROJ_ROOT}/L1/tests/tests_fp32/park_inverse_fp32_tb/src -I${XF_PROJ_ROOT}/L1/tests/tests_fp32/precision_common





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


