[hls]

clock=3.3
flow_target=vivado
syn.file=$XF_PROJ_ROOT/common/libs/logger/logger.cpp
syn.file_cflags=$XF_PROJ_ROOT/common/libs/logger/logger.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L2/include -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/../security/L1/include -I${XF_PROJ_ROOT}/common/libs/logger
syn.file=$XF_PROJ_ROOT/common/libs/cmdparser/cmdlineparser.cpp
syn.file_cflags=$XF_PROJ_ROOT/common/libs/cmdparser/cmdlineparser.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L2/include -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/../security/L1/include -I${XF_PROJ_ROOT}/common/libs/logger
syn.file=gzip_compress_test.cpp
syn.file_cflags=gzip_compress_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L2/include -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/../security/L1/include -I${XF_PROJ_ROOT}/common/libs/logger
syn.top=gzipcMulticoreStreaming
tb.file=$XF_PROJ_ROOT/common/libs/logger/logger.cpp
tb.file_cflags=$XF_PROJ_ROOT/common/libs/logger/logger.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L2/include -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/../security/L1/include
tb.file=$XF_PROJ_ROOT/common/libs/cmdparser/cmdlineparser.cpp
tb.file_cflags=$XF_PROJ_ROOT/common/libs/cmdparser/cmdlineparser.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L2/include -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/../security/L1/include -I${XF_PROJ_ROOT}/common/libs/logger
tb.file=${XF_PROJ_ROOT}/../security/L1/include
tb.file_cflags=${XF_PROJ_ROOT}/../security/L1/include,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L2/include -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/../security/L1/include
tb.file=gzip_compress_test.cpp
tb.file_cflags=gzip_compress_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L2/include -I${XF_PROJ_ROOT}/common/libs/cmdparser -I${XF_PROJ_ROOT}/../security/L1/include

csim.argv=${XF_PROJ_ROOT}/L1/tests/gzipc_8KB/sample.txt ${XF_PROJ_ROOT}/L1/tests/gzipc_8KB/sample.txt.gz
syn.dataflow.start_fifo_depth=32
syn.dataflow.scalar_fifo_depth=32
syn.dataflow.task_level_fifo_depth=32
cosim.disable_dependency_check=true
cosim.argv=${XF_PROJ_ROOT}/L1/tests/gzipc_8KB/sample.txt ${XF_PROJ_ROOT}/L1/tests/gzipc_8KB/samlple.txt.gz



vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


