[hls]

clock=3.3333
flow_target=vivado
syn.file=${XF_PROJ_ROOT}/L1/tests/hw/cgSolver/test_gemv/top.cpp
syn.file_cflags=${XF_PROJ_ROOT}/L1/tests/hw/cgSolver/test_gemv/top.cpp,-I${XF_PROJ_ROOT}/L1/include -I${XF_PROJ_ROOT}/L1/include/hw/ -I${XF_PROJ_ROOT}/L1/tests/hw/cgSolver/test_gemv -I${XF_PROJ_ROOT}/L1/include/hw/cgSolver -I${XF_PROJ_ROOT}/../blas/L1/include/hw
syn.top=top
tb.file=${XF_PROJ_ROOT}/L1/tests/hw/cgSolver/test_gemv/main.cpp
tb.file_cflags=${XF_PROJ_ROOT}/L1/tests/hw/cgSolver/test_gemv/main.cpp,-std=c++14 -I${XF_PROJ_ROOT}/L1/include -I${XF_PROJ_ROOT}/L1/include/hw/ -I${XF_PROJ_ROOT}/L1/include/hw/cgSolver -I${XF_PROJ_ROOT}/../blas/L1/include/hw -I${XF_PROJ_ROOT}/../blas/L1/tests/sw/include





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


