[hls]

clock=5
flow_target=vivado
syn.file=bitonic_sort_test.cpp
syn.file_cflags=bitonic_sort_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw
syn.top=hls_db_bitonic_sort_function
tb.file=bitonic_sort_test.cpp
tb.file_cflags=bitonic_sort_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


