[hls]

clock=300MHz
flow_target=vivado
syn.file=sort_top_k_test.cpp
syn.file_cflags=sort_top_k_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw
syn.top=hls_sort_top_k_function
tb.file=sort_top_k_test.cpp
tb.file_cflags=sort_top_k_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


