[hls]

clock=10
clock_uncertainty=1.25
flow_target=vivado
syn.file=${CUR_DIR}/src/ip_qei.cpp
syn.file_cflags=${CUR_DIR}/src/ip_qei.cpp,-DSIM_FINITE -I${XF_PROJ_ROOT}/L1/include/hw -I${CUR_DIR}/src
syn.top=hls_qei
tb.file=${CUR_DIR}/src/test_ip_qei.cpp
tb.file_cflags=${CUR_DIR}/src/test_ip_qei.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${CUR_DIR}/src
package.ip.name=hls-qei-axi




vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


