[hls]

clock=2.5
flow_target=vivado
syn.file=test.cpp
syn.file_cflags=test.cpp,-I${XF_PROJ_ROOT}/L1/include
syn.top=test_core_1_n
tb.file=test.cpp
tb.file_cflags=test.cpp,-I${XF_PROJ_ROOT}/L1/include

param.add_register_in_block_condition=false



vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


