[hls]

clock=3.30
flow_target=vivado
syn.file=test_load_master_to_stream.cpp
syn.file_cflags=test_load_master_to_stream.cpp,-I${XF_PROJ_ROOT}/L1/include
syn.top=dut
tb.file=test_load_master_to_stream.cpp
tb.file_cflags=test_load_master_to_stream.cpp,-I${XF_PROJ_ROOT}/L1/include





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


