[hls]

clock=2.5
flow_target=vivado
syn.file=test.cpp
syn.file_cflags=test.cpp,-I${XF_PROJ_ROOT}/L1/include
syn.top=stream_to_axi_test
tb.file=test.cpp
tb.file_cflags=test.cpp,-I${XF_PROJ_ROOT}/L1/include





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


