[hls]

clock=2.5
flow_target=vivado
syn.file=test_murmur3.cpp
syn.file_cflags=test_murmur3.cpp,-I${XF_PROJ_ROOT}/L1/include/hw
syn.top=hashmurmur3_W512_H32_strm
tb.file=test_murmur3.cpp
tb.file_cflags=test_murmur3.cpp,-I${XF_PROJ_ROOT}/L1/include/hw





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


