[hls]

clock=3.3
flow_target=vivado
syn.file=nested_loop_join_test.cpp
syn.file_cflags=nested_loop_join_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw
syn.top=syn_nested_loop_join
tb.file=nested_loop_join_test.cpp
tb.file_cflags=nested_loop_join_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


