[hls]

clock=300MHz
flow_target=vivado
syn.file=part_dut.cpp
syn.file_cflags=part_dut.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/../utils/L1/include
syn.top=part_dut
tb.file=part_test.cpp
tb.file_cflags=part_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -std=c++14





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


