[hls]

clock=2.5
flow_target=vivado
syn.file=test_lookup3.cpp
syn.file_cflags=test_lookup3.cpp,-I${XF_PROJ_ROOT}/L1/include/hw
syn.top=lookup3_dut
tb.file=test_lookup3.cpp
tb.file_cflags=test_lookup3.cpp,-I${XF_PROJ_ROOT}/L1/include/hw





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


