[hls]

clock=3.33
clock_uncertainty=1.05
flow_target=vivado
syn.file=test.cpp
syn.file_cflags=test.cpp,-I${XF_PROJ_ROOT}/L1/include
syn.top=test_hmac_md4
tb.file=test.cpp
tb.file_cflags=test.cpp,-I${XF_PROJ_ROOT}/L1/include
tb.file=gld.dat
tb.file_cflags=gld.dat,-I${XF_PROJ_ROOT}/L1/include





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


