[hls]

clock=2.5
flow_target=vivado
syn.file=axi_to_multi_stream_tb.cpp
syn.file_cflags=axi_to_multi_stream_tb.cpp,-std=c++0x -g -I${XF_PROJ_ROOT}/L1/include
syn.top=top_func
tb.file=axi_to_multi_stream_tb.cpp
tb.file_cflags=axi_to_multi_stream_tb.cpp,-std=c++0x -g -I${XF_PROJ_ROOT}/L1/include





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


