[hls]

clock=3.3
flow_target=vivado
syn.file=snappy_decompress_test.cpp
syn.file_cflags=snappy_decompress_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/../security/L1/include -DMULTIPLE_BYTES=8
syn.top=snappyDecompressEngineRun
tb.file=snappy_decompress_test.cpp
tb.file_cflags=snappy_decompress_test.cpp,-I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/../security/L1/include -DMULTIPLE_BYTES=8

csim.argv=${XF_PROJ_ROOT}/L1/tests/snappy_multibyte_decompress/sample.txt.snappy ${XF_PROJ_ROOT}/L1/tests/snappy_multibyte_decompress/sample.txt

cosim.disable_dependency_check=true
cosim.argv=${XF_PROJ_ROOT}/L1/tests/snappy_multibyte_decompress/sample.txt.snappy ${XF_PROJ_ROOT}/L1/tests/snappy_multibyte_decompress/sample.txt



vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


