[hls]

clock=10
flow_target=vivado
syn.file=src/data_path.hpp
syn.file_cflags=src/data_path.hpp,-I${XF_PROJ_ROOT}/L1/include/hw/vitis_fft/float
syn.file=src/top_module.cpp
syn.file_cflags=src/top_module.cpp,-I${XF_PROJ_ROOT}/L1/include/hw/vitis_fft/float
syn.file=src/top_module.hpp
syn.file_cflags=src/top_module.hpp,-I${XF_PROJ_ROOT}/L1/include/hw/vitis_fft/float
syn.top=fft_top
tb.file=src/main.cpp
tb.file_cflags=src/main.cpp,-I${XF_PROJ_ROOT}/L1/include/hw/vitis_fft/float





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


