[hls]

clock=400MHz
clock_uncertainty=0.1
flow_target=vivado
syn.file=${XF_PROJ_ROOT}/L1/tests/qrd_float/src/qrd.cpp
syn.file_cflags=${XF_PROJ_ROOT}/L1/tests/qrd_float/src/qrd.cpp,-DQRF_A_ROWS=256 -DQRF_A_COLS=64 -I${XF_PROJ_ROOT}/L1/include
syn.top=qrd_top
tb.file=${XF_PROJ_ROOT}/L1/tests/qrd_float/test_qrd.cpp
tb.file_cflags=${XF_PROJ_ROOT}/L1/tests/qrd_float/test_qrd.cpp,-DQRF_A_ROWS=256 -DQRF_A_COLS=64 -I. -I${XF_PROJ_ROOT}/L1/include -I${XF_PROJ_ROOT}/../utils/L1/include

csim.argv=-data ${XF_PROJ_ROOT}/L1/tests/qrd_float/data

cosim.argv=-data ${XF_PROJ_ROOT}/L1/tests/qrd_float/data



vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


