[hls]

clock=300MHz
flow_target=vivado
syn.file=${XF_PROJ_ROOT}/L1/tests/cholesky_inverse/kernel/kernel_cholesky_inverse_0.cpp
syn.file_cflags=${XF_PROJ_ROOT}/L1/tests/cholesky_inverse/kernel/kernel_cholesky_inverse_0.cpp,-DCHOL_INV_ROWSCOLS=3 -DSEL_ARCH=1 -D_DATA_PATH=${XF_PROJ_ROOT}/L1/tests/cholesky_inverse/datas/ -I./ -I${XF_PROJ_ROOT}/L1/tests/cholesky_inverse/host/ -I${XF_PROJ_ROOT}/L1/tests/cholesky_inverse/kernel/ -I${XF_PROJ_ROOT}/L1/tests/cholesky_inverse/ -I${XF_PROJ_ROOT}/L1/tests/ -I${XF_PROJ_ROOT}/L1/include/ -I${XF_PROJ_ROOT}/L1/include/hw -I${XF_PROJ_ROOT}/L2/include -I${XF_PROJ_ROOT}/../utils/L1/include/
syn.top=kernel_cholesky_inverse_0
tb.file=${XF_PROJ_ROOT}/L1/tests/cholesky_inverse/host/test_cholesky_inverse.cpp
tb.file_cflags=${XF_PROJ_ROOT}/L1/tests/cholesky_inverse/host/test_cholesky_inverse.cpp,-DCHOL_INV_ROWSCOLS=3 -DSEL_ARCH=1 -D_DATA_PATH=${XF_PROJ_ROOT}/L1/tests/cholesky_inverse/datas/ -I./ -I${XF_PROJ_ROOT}/L1/tests/cholesky_inverse/host/ -I${XF_PROJ_ROOT}/L1/tests/cholesky_inverse/kernel/ -I${XF_PROJ_ROOT}/L1/tests/cholesky_inverse/ -I${XF_PROJ_ROOT}/L1/tests/ -I${XF_PROJ_ROOT}/L1/include/ -I${XF_PROJ_ROOT}/L1/include/hw -I ./host -I${XF_PROJ_ROOT}/../utils/L1/include/





vivado.flow=${VIVADO_FLOW}
vivado.rtl=verilog


